#!/bin/sh -e

# Config script for Mixmaster

. /usr/share/debconf/confmodule
# Ask questions.

# We do support jump back because we stole that
# fancy state machine from debconf-devel(7)
db_capb backup

STATE=1
LASTSTATE=1
while [ "$STATE" != 0 ] && [ "$STATE" -le "$LASTSTATE" ]; do
	case "$STATE" in
	1)
		# Ask basic client only configuration
		db_input medium mixmaster/stats-update || true
		;;
	esac

	db_endblock
	if db_go; then
		STATE=$(($STATE + 1))
	else
		STATE=$(($STATE - 1))
	fi
done


# vim:set ts=2:
# vim:set shiftwidth=2:
